{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "react/function-component-definition": ["error", {
      "namedComponents": "arrow-function",
      "unnamedComponents":  "arrow-function"
    }],
    "import/prefer-default-export": ["off"],
    "eol-last": "error",
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/no-explicit-any": "error",
    "no-var": "off"
  },
  "parserOptions": {
    "project": [
      "tsconfig.json"
    ]
  }
}
